<h1>Your Shopping Cart </h1>

<table class="table">
  <tr>
    <th>STATUS</th>
    <th>PRODUCT ID</th>
    <th>PRODUCT NAME</th>
    <th>QUANTITY</th>
    <th>USER ID</th>
    <th>ACTION</th>
  </tr>
<% @carted_products.each do |carted_product| %>
  <tr>
    <td><%= carted_product.status %></td>
    <td><%= carted_product.product_id %></td>
    <td><%= carted_product.product.name %></td>
    <td><%= carted_product.quantity %></td>
    <td><%= carted_product.user_id %></td>
    <td> <%= link_to "Delete", "/cart/#{carted_product.id}", method: :patch, data:{confirm: "Are You Sure"} %> </td>
  </tr>
<% end %>
</table>

<%=form_tag '/orders', method: :post do %>
           
  <%= submit_tag "Buy Now", :class => "btn btn-primary", :role => "button" %> <a href="/" class="btn btn-default" role="button">Keep Shopping</a>

<% end %>
