<div class="container">

  <h2>Add a new product to the store</h2>

  <div class="form">

  <%=form_tag '/products', method: :post do %>

    <div class="input-group">
      <%=label_tag :name %>
      <%=text_field_tag :name, nil, class: "form-control" %>
    </div>

    <div class="input-group">
      <%=label_tag :price %>
      <%=text_field_tag :price, nil, class: "form-control" %>
    </div>

    <div class="input-group">
      <%=label_tag :supplier %>
      <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name, {:style => "width:200px"}, class: "form-control" %>
    </div>

    <div class="input-group">
      <%=label_tag :description %>
      <%=text_field_tag :description, nil, class: "form-control" %>
    </div>

    <div>
      <%= submit_tag "Send", class: "btn btn-default" %>
    </div>

  <% end %>

</div>

</div>


