
<div id="show_image">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <% @product.images.each_with_index do |image, index| %>
         <li data-target="#myCarousel" data-slide-to="<%= index + 1 %>" class="<%= index == 0 ? 'active' : ''%>">
         </li>
       <% end %>
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner">
       <% @product.images.each_with_index do |image, index| %>
         <div class="<%= index == 0 ? 'item active' : 'item' %>">
           <%= image_tag image.image, class: "center" %>
           <!-- <div class="carousel-caption">
                 ...
               </div> -->
         </div> 
       <% end %>      
     </div>

     <!-- Carousel Controls -->
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>
</div>

<div id="show-text">
    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>
    
    <h6> Descriptive Tags:
    <% @product.categories.each do |name| %>
        <%= name.name %>
    <% end %> </h6>
        
    <h6>Price: <%= number_to_currency(@product.price) %></h6>
    <h6>Tax: <%= number_to_currency(@product.tax) %></h6>
    <h4>Total: <%= number_to_currency(@product.total) %></h4>
    <h6>Supplier Name: <%= @product.supplier.name %> </h6>
    <h6>Inventory: <%= @product.inventory %></h6>

    <% if @product.in_stock? %>

        <% if current_user %>

            <%=form_tag '/cart', method: :post do %>

              <div class="input-group">
                <%=label_tag :quantity %>
                <%=text_field_tag :quantity, nil, class: "form-control" %>
              </div>

              <div class="input-group">
                <%=hidden_field_tag :product_id, @product.id, class: "form-control" %>
              </div>
            
              <p><%= submit_tag "Add to Cart", :class => "btn btn-primary", :role => "button" %></p>

            <% end %>
        <% else %>
            <h4> Please <a href="/users/sign_in">login</a> to purchase product. </h4>
        <% end %>
    <% else %>
        <p> SOLD OUT! </p>
    <% end %>

    <% if current_user %>
        <h5>
            <a href="https://en.wikipedia.org/wiki/<%= @product.name %>_(planet)" class="btn btn-default" role="button">More Details</a>

            <a href="/products/<%= @product.id %>/edit" class="btn btn-default" role="button">Edit Info</a>

            <%= link_to "Add New Image", "/images/new?auto=#{@product.id}", class: "btn btn-default" %>

            <%= link_to "Delete", "/products/#{@product.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-default", :role => "button" %>
        </h5>
    <% end %>
  </div>
