<div id="show_image">
  <img src=<%= @product.image %> alt=<%= @product.name %> >
</div>

  <div id="text">
    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>
    <p>$ <%= @product.price %></p>
    <p><%= link_to "Edit", "/products/#{@product.id}/edit" %>
      <%= link_to "Delete", "/products/#{@product.id}", method: :delete, data:{confirm: "Are You Sure"} %> </p>
  </div>
